/* 컴포넌트 스타일 import는 최상단에 위치 */
@import './styles/components/Auth.css';
@import './styles/components/PaymentModal.css';
@import './styles/components/NotificationModal.css';
@import './styles/components/ClientDashboard.css';
@import './styles/components/TaxAccountantDashboard.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen;
  }
}

